{% extends 'base.html' %}
{% from "includes/macro.html" import member_action with context %}

{% block header %}
    <!-- Header-->
    <header class="bg-img-center py-5" style="background-image: url('/img/boat_distance.jpg')">
        <div class="container px-5">
            {% include 'includes/flash.html' %}
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <div class="text-center my-5">
                        <h1 class="display-5 fw-bolder text-white mb-2">Members Area</h1>
                        <p class="lead text-white mb-4">You are logged in as '{{ current_user.username }}' (role: {{ current_user.role }}).</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <!-- Features section-->
    <section class="py-5 text-center" id="features">
        <div class="container px-5">
            <div class="row row-cols-2 row-cols-lg-4 g-5 align-content-center">
                {{ member_action('shield-lock-fill', 'admin', 'Admin Area') }}
                {{ member_action('people-fill', 'members_search', 'Search Members') }}
                {{ member_action('piggy-bank', 'rent_boat', 'Rent a Boat') }}
                {{ member_action('chat-left-dots', 'member_motto', 'Member Motto') }}
            </div>
        </div>
    </section>
{% endblock %}