{% extends 'members/base_action.html' %}

{% block header_content %}
    <div class="text-center my-5">
        <h1 class="display-5 fw-bolder text-white mb-2">Member Motto</h1>
        <p class="lead text-white mb-4">"{{ motto }}"</p>
    </div>
{% endblock %}

{% block content %}
    <!-- Features section-->
    <section class="py-5" id="features">
        <div class="container px-5 text-center">
            <h2 class="h3 fw-bolder mb-3">"{{ motto }}"</h2>
            <img src="/img/fish.jpg" width="111" height="111" alt="Fish">
        </div>
    </section>
{% endblock %}